/* COLORS 

light black: rgb(24, 24, 24)
diamond: #b9f2ff
gold: #ffd700
silver: #c0c0c0
bronze: #cd7f32

https://discord.gg/8Q2eDgKdfr

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  font-size: 20px;
}

h1 {
  font-size: 300%;
}

h2 {
  margin: 20px 0px 20px 20px;
}

a {
  color: rgb(165, 165, 165);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

a:hover {
  color: aliceblue;
  border-bottom: 2px solid rgb(255, 255, 255);
}

/*---------------------------------*/
/* HEADER CONTAINER */
/*---------------------------------*/

.header {
  width: 1140px;
  margin: 20px auto 10px;
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
  padding-bottom: 5px;
}

.nav-container {
  height: 140px;
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header img {
  height: 100%;
}

.title-links {
  margin-top: 20px;
  margin-left: 110px;
}
.links {
  display: flex;
  justify-content: space-around;
}

/*---------------------------------*/
/* RANKINGS CONTAINER */
/*---------------------------------*/

.rankings-container {
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
  margin: 0 auto 10px;
  background-color: rgb(24, 24, 24);
  max-width: 1140px;
}

.diamond-title {
  width: 50%;
  color: black;
  background-image: linear-gradient(to right, #b9f2ff, rgb(24, 24, 24));
  transform: skew(-45deg);
  margin-left: 20px;
}

.diamond-title p {
  margin-left: 30px;
  transform: skew(45deg);
}

.diamond table th {
  background-image: linear-gradient(
    to bottom,
    rgb(24, 24, 24),
    #b9f2ff,
    #b9f2ff,
    rgb(24, 24, 24)
  );
}

.gold-title {
  width: 50%;
  color: black;
  background-image: linear-gradient(to right, #ffd700, rgb(24, 24, 24));
  transform: skew(-45deg);
  margin-left: 20px;
}

.gold-title p {
  margin-left: 30px;
  transform: skew(45deg);
}

.gold table th {
  background-image: linear-gradient(
    to bottom,
    rgb(24, 24, 24),
    #ffd700,
    #ffd700,
    rgb(24, 24, 24)
  );
}

.silver-title {
  width: 50%;
  color: black;
  background-image: linear-gradient(to right, #c0c0c0, rgb(24, 24, 24));
  transform: skew(-45deg);
  margin-left: 20px;
}

.silver-title p {
  margin-left: 30px;
  transform: skew(45deg);
}

.silver table th {
  background-image: linear-gradient(
    to bottom,
    rgb(24, 24, 24),
    #c0c0c0,
    #c0c0c0,
    rgb(24, 24, 24)
  );
}

.bronze-title {
  width: 50%;
  color: black;
  background-image: linear-gradient(to right, #cd7f32, rgb(24, 24, 24));
  transform: skew(-45deg);
  margin-left: 20px;
}

.bronze-title p {
  margin-left: 30px;
  transform: skew(45deg);
}

.bronze table th {
  background-image: linear-gradient(
    to bottom,
    rgb(24, 24, 24),
    #cd7f32,
    #cd7f32,
    rgb(24, 24, 24)
  );
}

table {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 75%;
  border: 1px solid gray;
}

table tr:nth-child(odd) {
  background-color: rgb(43, 43, 43);
}

th {
  color: black;
}

td {
  text-align: center;
}

/*---------------------------------*/
/* HOW TO PLAY CONTAINER */
/*---------------------------------*/
.howtoplay-container {
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
  margin: 0 auto 10px;
  background-color: rgb(24, 24, 24);
  max-width: 1140px;
}

ol {
  list-style-position: inside;
}

.howtoplay-list {
  margin-left: 50px;
}
